:root {
    --blue: #0D1D72;
    --yellow: #c4b42d;
    --orange: #A77700;
    --red: #c43e2d;
    --turquoise: #1e6879;
    --green: #7db429;

    --font-one: 'Sedgwick Ave', cursive;
    --font-two: 'Poppins', sans-serif;
    --font-three: 'Source Serif Pro', serif;
}